* {
  box-sizing: border-box;
}
:root {
  --primary-color: #000;
  --secondary-color: #fff;
}

html {
  transition: all 0.5s;
}
.clock-contianer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.clock {
  position: relative;
  width: 200px;
  height: 200px;
}
.needle {
  position: absolute;
  background-color: var(--primary-color);
  width: 3px;
  height: 65px;
  top: 50%;
  left: 50%;
  transform-origin: bottom right;
}
.needle.hour {
  transform: translate(-50%, -100%) rotate(0deg);
}
.needle.minute {
  transform: translate(-50%, -100%) rotate(0deg);
  height: 100px;
}
.needle.second {
  transform: translate(-50%, -100%) rotate(0deg);
  background-color: red;
  height: 100px;
}
.center-point {
  background-color: red;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
